<!-- footer -->
</div>
</div>
</main>
</div>
</div>
<footer class="bg-secondary-subtle fixed-bottom">
    <div class="d-flex flex-row justify-content-between mb-0">
        <div class="fs-7 text-capitalize">
            © 2023 Nocopyright:
        </div>

        <div class="d-flex">
            <div class="p-2">
                <p class="text-capitalize text-center fs-7 font-monospace fw-bold">About</p>
            </div>
            <div class="p-2">
                <p class="text-capitalize text-center fs-7 font-monospace fw-bold">Policy</p>
            </div>
            <div class="p-2">
                <p class="text-capitalize text-center fs-7 font-monospace fw-bold">Contact</p>
            </div>
        </div>
    </div>
</footer>
</body>
<!-- footer -->